//Primary
$cta: rgb(70,195,103);
$desaturated-cta: rgba(80, 171, 103, 0.89);
$desaturated-cta-red: rgba(169, 58, 55, 0.98);
$cta-red: rgb(184, 21, 21);
$bright-blue: rgb(50, 104, 205);
$bright-blue-bg: rgb(20, 48, 102);
$checkbox-bg: linear-gradient(158deg, rgba(63,94,251,1) 0%, rgba(79,106,237,1) 54%, rgba(122,138,219,1) 100%);

$page-bg: #1a1a1a;
$dark: #252525;
$text-color-primary: rgb(255,255,255);
$text-color-secondary: rgb(150, 150, 150);
$border: rgb(64,64,64);
$vd-desaturated-blue: rgb(37, 39, 60);
