$family-pri: 'Montserrat', sans-serif;
$family-sec: 'Open Sans', sans-serif;
$family-tet: 'Lato', sans-serif;
$normal: 1.6rem;
$tiny: 1.4rem;
$tinier: 1.2rem;
$big: 2rem;
$bigger: 2.4rem;
$regular: 400;
$semi-bold: 500;
$bold: 700;