@use '../utils' as *;

.addresses {
  padding: 2.5em 1em 125px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include respond-to('l'){
    padding-bottom: 0;
    max-width: 1600px;
    width: 100%;
  }
  &__wrapper{
    @include respond-to('l'){
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &__grid{
      display: flex;
      flex-direction: column;
      @include respond-to('l'){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        width: 100%;
        max-width: 1800px;
      }
    }
  }
  &__pill{
    background-color: $cta;
    color: $text-color-primary;
  }
  &__entry {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__actions {
      a {
        color: $text-color-primary;
      }

      button {
        margin-left: .5em;
        padding: .15em;
        background: none;
        color: $cta-red;
        border: 1px solid transparent;
      }
    }
  }
  &__add{
    position: fixed;
    bottom: 65px;
    left: 50%;
    right: 0;
    width: 90%;
    transform: translateX(-50%);
    background-color: $page-bg;
    padding: .25em;
    @include respond-to('l'){
      bottom: unset;
      top: 95px;
      left: 90%;
      width: 250px;
    }
    a{
      display: inline-block;
      width: 100%;

    }
  }
}