@use '../utils' as *;
.page-wrapper{
  padding: 2.5em 1em 65px;
  @include respond-to('l'){
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header{
    text-align: center;
  }
  &__sub-header{
    margin: .5em 0;
    text-align: center;
  }
  &__boxes{
    @include respond-to('l'){
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 2.5rem;
      width: 100%;
      max-width: 1440px;
    }
  }
  &__box{
    padding: 1em;
    h2{
      margin-bottom: .5em;
    }
  }
  &__diet{
    position: relative;
    padding: .5em;
    width: 100%;
    @include respond-to('l'){

    }
    &__header, &__desc{
      inline-size: 250px;
      overflow-wrap: break-word;
      @include respond-to('l'){
        inline-size: 250px;
      }
    }
    &__image{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 90px;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      object-fit: cover;
      @include respond-to('l'){

      }
      &--blank{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $text-color-secondary;
      }
    }
    &__highlight{
      color: $cta;
      font-weight: $semi-bold;
    }
  }
}