@use "../utils" as *;
.menu{
  padding: 3em 1em 65px;
  @include respond-to('l'){
    padding-bottom: 0;
  }
  &__controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
    width: 100%;
    @include respond-to('l'){
      max-width: 800px;
    }
    &__wrapper{
      width: 100%;
      @include respond-to('l'){
        display: flex;
        justify-content: center;
      }
    }
    &__btns{
      display: flex;
      align-items: center;
      padding: .5em;
    }
  }
  &__tabs{
    margin-top: .5em;
    &__list{
      border: none;
      flex-wrap: nowrap;
      overflow-x: auto;
      &::before{
        border: none;
      }
    }
    &__tab{
      font-size: $normal;
      &[data-active]{
        color: $cta;
        border-bottom: 2px solid $cta;
      }
    }
    &__panel{
      @include respond-to('l'){
        display: flex;
        justify-content: center;
      }
    }
  }
  &__fixed-wrapper{
    @include respond-to('l'){
      display: flex;
      justify-content: center;
    }
  }
  &__container{
    @include respond-to('l'){
      width: 100%;
      max-width: 1200px;
    }
  }
  &__meal{
    padding: .65em;
    &__details{
      margin: .5em 0;
      border-radius: 25px;
      font-size: calc($normal - .2rem);
      &__subsciption{
        display: flex;
        justify-content: space-between;
        &__pill{
          padding: .25em 1em;
          border: 1px solid $cta;
          border-radius: 25px;
        }
      }
    }
  }
}