@use "../utils" as *;

.health {
  padding: 1em 1em 65px;
  width: 100%;
  @include respond-to('l') {
    padding-bottom: 0;
  }

  &__stats {
    @include respond-to('l') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      width: 100%;
      max-width: 1800px;
    }
  }
}

.wrapper {
  @include respond-to('l') {
    display: flex;
    justify-content: center;
  }
}
