@use '../utils' as *;
.hcard {
  display: flex;
  flex-direction: column;
  padding: 1.1em;
  align-items: center;
  @include respond-to('l'){
    align-items: start;
    width: 100%;
    max-width: 900px;
  }
  &--app{
    padding-bottom: 65px;
  }
  &__header{
    margin: 1em 0;
    text-align: center;
    font-family: $family-pri;
  }
  &__subtext{
    text-align: center;
    @include respond-to('l'){
      text-align: left;
      width: 400px;
    }
  }
  &__form{
    padding: .85em;
    display: flex;
    flex-direction: column;
    @include respond-to('l'){
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__alert{
    &__root{
      border-radius: 8px;
    }
    &__title{
      font-size: $normal;
    }
    &__message{
      color: $text-color-primary;
      font-size: $normal;
    }
    &__icon{
      width: 25px;
      margin-top: .5em;
    }
  }
}