@use '../utils' as *;
.hcard {
  display: flex;
  flex-direction: column;
  padding: 1.1em;
  align-items: center;
  @include respond-to('l'){
    width: 100%;
    max-width: 1600px;
  }
  &--app{
    padding-bottom: 65px;
  }
  &__header{
    margin: 1em 0;
    text-align: center;
    font-family: $family-pri;
  }
  &__subtext{
    text-align: center;
    @include respond-to('l'){
      margin-bottom: 1em;
    }
  }
  &__form{
    padding: .85em;
    display: flex;
    flex-direction: column;
    @include respond-to('l'){
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    & > div{
      @include respond-to('l'){
      margin: 0 5em;
      }
    }
    & > div:last-child{
      @include respond-to('l'){
        display: flex;
        flex-direction: column;
      }
    }
    &__grid{
      @include respond-to('l'){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
      }
    }
    button{
      width: 100%;
    }
  }
  &__alert{
    &__root{
      border-radius: 8px;
    }
    &__title{
      font-size: $normal;
    }
    &__message{
      color: $text-color-primary;
      font-size: $normal;
    }
    &__icon{
      width: 25px;
      margin-top: .5em;
    }
  }
}