@use "../utils" as *;

.summary-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  @include respond-to('l'){
    max-width: 800px;
  }
  &__header {
    align-self: flex-start;
  }

  &__section {
    padding: 1em;

    &__item {
      padding: 1em;
      margin: 1em 0;
      border: 1px solid $border;
      border-radius: 8px;
      &__weight {
        &__grid {
          display: flex;
          justify-content: space-around;

          &__item {
            margin-top: 1em;
            text-align: center;

            p:first-child {
              font-weight: $bold;
              font-size: $bigger;
            }
          }
        }
      }

      &__calories, &__water {
        @include respond-to('l'){
          width: 50%;
        }
        p:first-of-type {
          color: $cta;
          font-weight: $bold;
        }
      }
      &__calories{
        @include respond-to('l'){
          margin-right: 1em;
        }
      }
      &__water{
        @include respond-to('l'){
        margin-left: 1em;
        }
      }

      &__bmi {
        @include respond-to('l'){
          width: 50%;
        }
        &:first-child{
          @include respond-to('l'){
            margin-right: 1em;
          }
        }
        &:last-child{
          @include respond-to('l'){
            margin-left: 1em;
          }
        }
        &__text {
          text-align: center;
          font-size: $bigger;
          font-weight: $bold;

          &--blue {
            color: $bright-blue;
          }

          &--green {
            color: $cta;
          }

          &--yellow {
            color: $yellow;
          }

          &--orange {
            color: $orange;
          }

          &--red {
            color: $cta-red
          }
          &--gray{
            color: $gray;
          }
        }
      }
    }
  }
  &__footer {
    margin: .5em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include respond-to('l'){
      align-items: center;
    }
    p{
      margin-bottom: .5em;
    }
    span {
      color: $cta
    }
    button{
      @include respond-to('l'){
        width: 50%;
      }
    }
  }
}
.container{
  display: flex;
  flex-direction: column;
  @include respond-to('l'){
    flex-direction: row;
    justify-content: space-around;
  }
}