@use "../utils" as *;
.profile{
  padding: 1em 1em 65px;
  min-height: calc(100vh - 66px);
  @include respond-to('l'){
    padding-bottom: 0;
  }
  &__wrapper{
    @include respond-to('l'){
    display: flex;
    justify-content: center;
    }
  }
  &__nav{
    display: flex;
    flex-direction: column;
      @include respond-to('l'){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;
        max-width: 1600px;
      }
    &__item{
      display: flex;
      align-items: center;
      justify-content: start;
      text-decoration: none;
      padding: 1em .5em;
      margin: .75em 0;
      svg{
        margin-right: .5em;
      }
      &__block{
        display: flex;
        align-items: center;
      }
      &--notification{
        justify-content: space-between;
        font-size: $big;
      }
    }
  }
}