@use '../utils' as *;

.promos {
  padding: 2.5em 0 65px;

  h1 {
    padding: 0.25em .75em;
  }

  &__tabs {
    margin-top: .5em;

    &__list {
      border: none;
      flex-wrap: nowrap;
      overflow-x: auto;

      &::before {
        border: none;
      }
    }

    &__tab {
      font-size: $normal;

      &[data-active] {
        color: $cta;
        border-bottom: 2px solid $cta;
      }
    }
  }

  &__panel {
    padding: 1em;

    &__empty {
      text-align: center;
    }
  }

  &__promo {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'text copy'
                          'text copy';

    &__copy {
      grid-area: copy;
      background: none;
      color: $desaturated-cta;
      border: 1px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}