@use '../utils' as *;
.create{
  padding: 2.75em 1em 65px;
  @include respond-to('l'){
    padding-bottom: 0;
  }
  &__form{
    display: flex;
    flex-direction: column;
    &__orders{
      @include respond-to('l'){
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2.5rem;
      }
      &__item{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin: .75em 0;
        border: 3px solid $dark;
        border-radius: 8px;
        font-family: $family-sec;
        font-weight: $semi-bold;
        transition: border-color .2s;
        cursor: pointer;
        p{
          margin: .2em;
        }
        &--active{
          border-color: $cta;
        }
        input[type='radio']{
          appearance: none;
          margin: 0;
          background-color: $page-bg;
        }
      }
    }
    &__error{
      margin: .75em 0;
      color: $cta-red;
    }
  }
}