@use "../utils" as *;
.reports{
  padding: 2.75em 1em 125px;
  display: flex;
  flex-direction: column;
  &__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__grid{
    @include respond-to('l'){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      width: 100%;
      max-width: 1440px;
    }
  }
  &__entry{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em;
    &__data{
      p{
        margin: .35em 0;
      }
    }
    &__delete{
      padding: .5em;
      color: $cta-red;
      background: none;
      border: 1px solid transparent;
      &--unavailable{
        color: $border
      }
    }
    &__content{
      display: flex;
      align-items: center;
      margin: .5em 0;
      p{
        margin-right: .5em;
      }
      button{
        display: flex;
        align-items: center;
        color: $text-color-primary;
        background: none;
        border: 1px solid transparent;
      }
    }
    &__message{
      padding: 0 .5em .5em;
    }
  }
  &__sheet{
    display: flex;
    flex-direction: column;
    h3{
      margin-bottom: .5em;
    }
    p{
      margin: .25em 0;
    }
  }
  &__add{
    position: fixed;
    bottom: 65px;
    left: 50%;
    right: 0;
    width: 90%;
    transform: translateX(-50%);
    padding: .55em;
    @include respond-to('l'){
      bottom: unset;
      top: 95px;
      left: 90%;
      width: 250px;
    }
  }
}