@use '../utils' as *;
.btn{
  padding: .5em 2em;
  background-color: $cta;
  border-radius: 8px;
  font-family: $family-tet;
  font-size: calc($normal + .4rem);
  color: $text-color-primary;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color .3s;
  &--link{
    text-align: center;
    text-decoration: none;
    font-family: $family-tet;
  }
  &:hover{
    background-color: rgb(80,215,116);
  }
  &--outline{
    background: none;
    border: 1px solid $cta;
    transition: background-color .3s, color .3s;
    color: $cta;
    &:hover{
      color: $text-color-primary;
    }
    &--danger{
      border-color: $cta-red;
      color: $cta-red;
      &:hover{
        background-color: red;
        color: $text-color-primary;
      }
  }
  &--outline:hover{
    background-color: $cta;
  }
  }
  &:disabled{
    background-color: $border;
    cursor: not-allowed;
  }
  &:disabled:hover{
    background-color: $border;
  }
  &--danger{
    background-color: $cta-red;
    &:hover{
      background-color: $desaturated-cta-red;
    }
  }
  &--dark{
    background: none;
    border: 1px solid $border;
    &:disabled{
      background: none;
      color: $border
    }
    &:disabled:hover{
      background: none;
    }
  }

}