@use "../utils" as *;
.selection{
  display: flex;
  flex-direction: column;
  &__selectable{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    padding: 1em;
    margin: 1em .25em;
    border: 3px solid $border;
    border-radius: 8px;
    font-size: $normal;
    font-family: $family-sec;
    font-weight: $semi-bold;
    transition: border-color .2s;
    cursor: pointer;
    &--active{
      border-color: $cta;
    }
    input[type='radio']{
      appearance: none;
      margin: 0;
      background-color: $page-bg;
    }
    a{
      margin-top: .5em;
      padding: .15em .6em;
      background-color: $cta;
      text-decoration: none;
      color: $text-color-primary;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color .2s;
      &:hover{
        background-color: $desaturated-cta;
      }
    }
    &__error{
      margin-bottom: 1em;
      color: $cta-red
    }
  }
}