@use "../utils" as *;
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
}
.modal__box{
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2em;
  width: 70%;
  max-width: 992px;
  z-index: 25;
  transform: translate(-50%,-50%);
  background-color: $dark;
  border-radius: 15px;
  animation: slide-in-up .3s ease-out forwards;
  max-height: 90vh;
  overflow-y: auto;
}
@keyframes slide-in-up {
  from{
    transform: translate(-50%,-75%);
    opacity: 0;
  }
  to{
    transform: translate(-50%,-50%);
    opacity: 1;
  }
}