@use "../utils" as *;
.validator{
  display: flex;
  flex-direction: column;
  padding: .5em;
  &__tips{
    &__list{
      list-style-type: none;
      &__item{
        display: flex;
        align-items: center;
        color: $text-color-secondary;
        &--correct{
          color: $desaturated-cta;
        }
        svg{
          margin-right: .5em;
        }
      }
    }
  }
}