@use "../utils" as *;
.select{
  &__control{
    padding: .5em 0;
    background-color: $page-bg;
    border: 1px solid #404040;
  }
  &__option{
    color: $text-color-primary;
    &:hover, &--selected{
      background-color: $cta;
    }
  }
  &__error{
    margin: .75em 0;
    color: $cta-red;
  }
}